@import './assets/styles/shared-styles.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;

}

.app {
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    padding: 44px 104px 0px 104px;

    @include media('<=tablet') {
        padding: 35px 19px 800px 19px;
    }
        @include media('<sphone') {
            height: 100vh;
            padding: 35px 19px 1000px 19px;
        }

    overflow: hidden;

    &__heading {
        text-align: center;
        color: white;
        margin-top: 53px;
        font-family: 'Poppins', sans-serif;

        h1 {
            font-size: 70px;
            font-weight: 300;

            span {
                display: none;

                @include media('<=tablet') {
                    display: inline;
                    font-size: 40px;
                    font-weight: 700;
                }
            }

        }

        h2 {
            font-size: 70px;
            font-weight: 700;

            span {

                @include media('<=tablet') {
                    display: none;
                }
            }
        }

        @include media('<=tablet') {
            h1 {
                font-size: 40px;
                font-weight: 400;

            }

            h2 {
                font-size: 40px;
                font-weight: 700;
            }
        }
    }

    .star1,
    .star2,
    .star3,
    .star4,
    .star5,
    .star6 {
        position: absolute;
    }

    .star1 {
        top: 145.83px;
        left: 181.25px;

        @include media("<=tablet") {
            top: 44vh;
            left: 0px;
            transform: scale(1.2);

            path {
                fill: rgb(17, 133, 195);
            }
        }
    }

    .star2 {
        top: 164.39px;
        right: 163.49px;

        @include media("<=tablet") {
            top: 171.5px;
            right: 0px;
        }
    }

    .star3 {
        top: 328.55px;
        right: 587.54px;

        @include media("<=tablet") {
            top: 374.5px;
            right: 40px;
        }
    }

    .star4 {
        top: 750.55px;
        left: 560.54px;

        @include media("<=tablet") {
            top: 82vh;
            left: 60%;
        }
    }

    .star5 {
        bottom: 22.59px;
        left: 398.92px;
    }

    .star6 {
        top: 35vh;
        left: 30vw;

        @include media("<=tablet") {
            display: none;
        }
    }

    &__subheading {
        text-align: center;
        color: white;
        margin-top: 23px;

        h3,
        h4 {
            font-size: 29.43px;
            font-weight: 400;
            animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s
        }

        span {
            font-weight: 700;
        }

        @include media('<=tablet') {

            h3,
            h4 {
                font-size: 16px;
                font-weight: 400;
            }

            span {
                font-weight: 700;
            }
        }
    }
    // &__bottom{
    //     @include media("<=tablet"){
    //    height: 50vh;
    //     }
    // }

    .btm_asset1,
    .btm_asset2,
    .btm_asset3,
    .btm_asset4,
    .btm_asset5,
    .btm_asset6,
    .btm_asset7,
    .btm_asset8,
    .btm_asset9,
    .btm_asset10,
    .btm_asset11 {
        position: absolute;
    }

    .btm_asset1 {
        bottom: 128.1px;
        left: 658px;
    }

    .btm_asset2 {
        bottom: 0;
        left: 50%;
        z-index: 2;
    }

    .btm_asset3 {
        bottom: 0;
        left: 45%;
        z-index: 2;
    }

    .btm_asset4 {
        bottom: 20%;
        right: 35%;
        z-index: 2;
    }

    .btm_asset5 {
        bottom: 23%;
        right: 51%;
        z-index: 2;
    }

    .btm_asset6 {
        bottom: 5%;
        left: 37%;
        z-index: 2;
    }

    .btm_asset7 {
        bottom: 12%;
        left: 40%;
        z-index: 2;
    }
        .btm_asset8 {
            bottom: 6%;
            left: 48%;
            z-index: 2;
        }
 .btm_asset9 {
     bottom: 4%;
     right: 41%;
     z-index: 2;
 }
  .btm_asset10 {
      bottom: 1%;
      right: 40%;
      z-index: 2;
  }
   .btm_asset11 {
       bottom: 3%;
       left: 40%;
       z-index: 2;
   }
    &__coinPot {
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 425px;

        @include media('<=tablet') {
            width: 80%;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__coinLeft {
        position: absolute;
        bottom: 97.5px;
        left: 35%;
        transform: translateX(-35%);

        @include media('<=phone') {
            left: -15%;
            transform: translateX(35%);
        }

    }

    &__coinRight {
        position: absolute;
        bottom: 43.41px;
        right: 26%;
        transform: translateX(-26%);

        @include media('<=phone') {
            right: -15%;
            transform: translateX(15%);
        }

    }

    &__lightRays {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}
